<div id="<%= dom_id company %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Kana:</strong>
    <%= company.kana %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name en:</strong>
    <%= company.name_en %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Prefecture:</strong>
    <%= company.prefecture_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= company.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= company.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tel:</strong>
    <%= company.tel %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fax:</strong>
    <%= company.fax %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Website:</strong>
    <%= company.website %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Detail:</strong>
    <%= company.detail %>
  </div>
</div>
