<div class="w-full">
  <div id="<%= dom_id company %>">
    <!-- 会社名ヘッダー -->
    <div class="pb-4 mb-4 border-b border-gray-200">
      <h2 class="text-2xl font-bold"><%= company.name %></h2>
      <p class="text-gray-500 text-sm mt-1"><%= company.kana %></p>
    </div>

    <!-- 詳細情報 -->
    <div class="mb-6">
      <!-- 基本情報テーブル -->
      <div class="mb-6">
        <table class="w-full">
          <tbody>
            <tr class="border-b border-gray-100">
              <th class="py-3 pr-4 text-left text-gray-600 w-1/3">名前</th>
              <td class="py-3 font-medium"><%= company.name %></td>
            </tr>
            <tr class="border-b border-gray-100">
              <th class="py-3 pr-4 text-left text-gray-600">フリガナ</th>
              <td class="py-3"><%= company.kana %></td>
            </tr>
            <tr class="border-b border-gray-100">
              <th class="py-3 pr-4 text-left text-gray-600">英語名</th>
              <td class="py-3"><%= company.name_en %></td>
            </tr>
            <% if company.address.present? %>
            <tr class="border-b border-gray-100">
              <th class="py-3 pr-4 text-left text-gray-600">住所</th>
              <td class="py-3"><%= company.address&.full_address %></td>
            </tr>
            <% end %>
            <% if company.tel.present? %>
            <tr class="border-b border-gray-100">
              <th class="py-3 pr-4 text-left text-gray-600">電話番号</th>
              <td class="py-3"><%= company.tel %></td>
            </tr>
            <% end %>
            <% if company.fax.present? %>
            <tr class="border-b border-gray-100">
              <th class="py-3 pr-4 text-left text-gray-600">FAX</th>
              <td class="py-3"><%= company.fax %></td>
            </tr>
            <% end %>
            <% if company.website.present? %>
            <tr class="border-b border-gray-100">
              <th class="py-3 pr-4 text-left text-gray-600">ウェブサイト</th>
              <td class="py-3">
                <%= link_to company.website, company.website, target: "_blank", class: "text-blue-600 hover:underline" %>
              </td>
            </tr>
            <% end %>
            <tr>
              <th class="py-3 pr-4 text-left text-gray-600 align-top">詳細</th>
              <td class="py-3"><%= company.detail %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <% if company.google_map.present? %>
      <div class="mt-6">
        <%= render 'shared/google_map', entity: company %>
      </div>
      <% end %>
    </div>
  </div>
</div>
