<%= form_with(model: company, class: "contents") do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2>
        <%= t('errors.template.header', count: company.errors.count, model: Company.model_name.human) %>
      </h2>

      <ul class="list-disc ml-6">
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :public_id %>
    <%= form.text_field :public_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:public_id].none?, "border-red-400 focus:outline-red-600": company.errors[:public_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:name].none?, "border-red-400 focus:outline-red-600": company.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :kana %>
    <%= form.text_field :kana, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:kana].none?, "border-red-400 focus:outline-red-600": company.errors[:kana].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :name_en %>
    <%= form.text_field :name_en, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:name_en].none?, "border-red-400 focus:outline-red-600": company.errors[:name_en].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :prefecture_code %>
    <%= form.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name,
        { include_blank: t('common.select_placeholder') },
        class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                {"border-gray-400 focus:outline-blue-600": company.errors[:prefecture_code].none?,
                 "border-red-400 focus:outline-red-600": company.errors[:prefecture_code].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :city %>
    <%= form.text_field :city, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:city].none?, "border-red-400 focus:outline-red-600": company.errors[:city].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_field :address, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:address].none?, "border-red-400 focus:outline-red-600": company.errors[:address].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :tel %>
    <%= form.text_field :tel, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:tel].none?, "border-red-400 focus:outline-red-600": company.errors[:tel].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :fax %>
    <%= form.text_field :fax, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:fax].none?, "border-red-400 focus:outline-red-600": company.errors[:fax].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :website %>
    <%= form.text_field :website, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:website].none?, "border-red-400 focus:outline-red-600": company.errors[:website].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :detail %>
    <%= form.textarea :detail, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:detail].none?, "border-red-400 focus:outline-red-600": company.errors[:detail].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit t('companies.form.submit'), class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
