<% content_for :title, t('brands.index.title') %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl"><%= t('brands.index.title') %></h1>
    <div class="flex space-x-2">
      <% if @query.present? %>
        <%= link_to brands_path(query: @query, search_view: 'card'), class: "rounded-md px-3.5 py-2.5 bg-indigo-600 hover:bg-indigo-500 text-white block font-medium" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
            <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
          </svg>
          <%= t('brands.index.card_view') %>
        <% end %>
      <% end %>
      <%= link_to t('brands.index.new'), new_brand_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    </div>
  </div>

  <div class="mb-8">
    <%= render partial: 'shared/search_form', locals: { visible: '', query: @query } %>
  </div>

  <div id="brands" class="space-y-4">
    <% if @brands.any? %>
      <%= render partial: "brand_list_item", collection: @brands, as: :brand %>
    <% else %>
      <p class="text-center my-10"><%= t('brands.index.no_brands') %></p>
    <% end %>
  </div>

  <div class="mt-8">
    <%== pagy_nav_tailwind(@pagy) %>
  </div>
</div>
