<% content_for :title, @brand.name %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="w-full">
    <div id="<%= dom_id @brand %>">
      <!-- ブランド名ヘッダー -->
      <div class="pb-4 mb-4 border-b border-gray-200">
        <div class="flex flex-wrap items-center gap-2">
          <h1 class="text-2xl font-bold"><%= @brand.name %></h1>
          <span class="text-gray-500 text-sm"><%= @brand.kana %></span>
        </div>
      </div>

      <!-- 詳細情報 -->
      <div class="mb-6">
        <!-- 基本情報テーブル -->
        <div class="mb-6">
          <table class="w-full">
            <tbody>
              <tr class="border-b border-gray-100">
                <th class="py-3 pr-4 text-left text-gray-600 w-1/3">名前</th>
                <td class="py-3 font-medium"><%= @brand.name %></td>
              </tr>
              <tr class="border-b border-gray-100">
                <th class="py-3 pr-4 text-left text-gray-600">ふりがな</th>
                <td class="py-3"><%= @brand.kana %></td>
              </tr>
              <tr>
                <th class="py-3 pr-4 text-left text-gray-600 align-top">詳細</th>
                <td class="py-3"><%= @brand.detail %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 酒蔵情報セクション -->
        <div class="mb-6">
          <h2 class="font-bold text-lg mb-3 border-l-4 border-gray-500 pl-3">酒蔵情報</h2>

          <% if @brand.company.present? %>
            <div class="pl-3">
              <table class="w-full">
                <tbody>
                  <tr class="border-b border-gray-100">
                    <th class="py-2 pr-4 text-left text-gray-600 w-1/4">名前</th>
                    <td class="py-2 font-medium"><%= @brand.company.name %></td>
                  </tr>

                  <% if @brand.company.address.present? %>
                  <tr class="border-b border-gray-100">
                    <th class="py-2 pr-4 text-left text-gray-600">住所</th>
                    <td class="py-2"><%= @brand.company.address&.full_address %></td>
                  </tr>
                  <% end %>

                  <% if @brand.company.tel.present? %>
                  <tr class="border-b border-gray-100">
                    <th class="py-2 pr-4 text-left text-gray-600">電話番号</th>
                    <td class="py-2"><%= @brand.company.tel %></td>
                  </tr>
                  <% end %>

                  <% if @brand.company.website.present? %>
                  <tr class="border-b border-gray-100">
                    <th class="py-2 pr-4 text-left text-gray-600">HP</th>
                    <td class="py-2">
                      <%= link_to @brand.company.website, @brand.company.website, target: "_blank", class: "text-blue-600 hover:underline" %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>

              <div class="mt-4">
                <%= link_to '酒蔵の詳細を見る', @brand.company, class: "inline-block text-blue-600 hover:text-blue-800 font-medium" if defined?(company_path) %>
              </div>

              <div class="mt-6">
                <%= render 'shared/google_map', entity: @brand.company %>
              </div>
            </div>
          <% else %>
            <div class="text-gray-500">情報なし</div>
          <% end %>
        </div>
      </div>

    </div>
  </div>


  <%= link_to t('common.back'), request.referer.present? ? request.referer : brands_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
